/*stylesheet for*/

/*Google Font - DM Sans Import */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500&display=swap');

/*other styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7c8392;
}

header {
    background: white;
    padding: 20px;
}

header >h1 {
    color: #24272E;
    text-align: center;
    font-family: "DM Sans", sans-serif;
}